@media (max-width: 800px) {
  .image-column::after {
    content: " ";
    height: 300px;
    width: 300px;
    display: none;
    right: 320px;
    transform: rotate(45deg);
    border: 6px solid #fff;
  }
  .main-heading {
    font-size: 4rem !important;
  }
  .mobile {
    text-align: center;
  }

  .pic-container {
    display: none;
  }
  .experience-year-circle-connector {
    display: none;
  }
  .experience-year-circle {
    margin: 0px auto !important;
  }
}

@media (min-width: 1400px) {
  .image-column::after {
    content: " ";
    height: 300px;
    width: 300px;
    display: none;
    right: 320px;
    transform: rotate(45deg);
    border: 6px solid #fff;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}
h1,
h2 {
  font-family: "PT Serif", serif;
}
/* head-section */
#head-section {
  background-color: #096870;
}
#head-section {
  color: white;
}
.secondary-heading {
  color: #096870;
  margin-bottom: 35px;
}
.main-heading {
  font-size: 6rem;
  line-height: 1.5;
}
.pic-container {
  width: 300px;
  height: 300px;
  margin-left: 75px;
  border-radius: 50%;
}
.image-column {
  position: relative;
}
/* .image-column::after {
  content: " ";
  height: 100%;
  width: 80%;
  position: absolute;
  right: 9%;
  transform: rotate(45deg);
  border: 6px solid #fff;
} */
.page-padding {
  padding: 5% 20%;
}

.content-padding {
  padding: 2% 20%;
}

/* About-me */
.contact-listing {
  list-style-type: none;
  padding: 0;
}

.divider {
  border: none;
  border-top: 5px dotted #096870;
  color: white;
  height: 5px;
  width: 5%;
  margin: 5px auto;
}
.phone-call-clear{
  text-decoration: none;
  color: #212529;
}

/* SKILL */
.holder-for-certificate {
  padding-top: 20px;
  list-style: none;
  padding-left: 0;
  color: #096870;
  font-weight: 700;
}
 

.holder-for-certificate:hover{
  cursor: pointer;
}
.ms-badge {
  width: 7%;
  height: 7%;
  display: inline-block;
  
}

/* EXPERTISE */

.experience-year-circle {
  height: 100px;
  width: 100px;
  margin: 50px 75px 22px 15px;
  border: 1px solid rgb(0, 0, 0, 0.125);
  border-radius: 50%;
  text-align: center;
  padding: 40px 0px 40px;
  font-weight: 900;
  background-color: #096870;
  color: #fff;
}
.first-circle {
  margin-top: 250px;
}
.second-circle {
  margin-top: 175px;
}
.third-circle {
  margin-top: 120px;
}
.experience-year-circle-connector {
  width: 5%;
  transform: rotate(90deg);
  border: none;
  border-top: 5px dotted #096870;
  color: white;
  margin-left: 48px;
}

.job-role {
  color: #096870;
  font-family: "PT Serif", serif;
}

/* FOOTER */
#footer {
  background-color: #096870;
  height: 20vh;
  text-align: center;
  color: #fff;
}

.footer-arrow {
  margin-top: 30px;
}
